---
import Layout from '@components/layout/Layout.astro';
import MiniSearch, { type SearchResult } from 'minisearch';

let query: null | string = null;
let errors: Array<string> = [];
let results;
let searchTime: number = 0;

// GET requests to search with params
if (Astro.request.method == 'GET'){
  const startTime = new Date();
  const url = new URL(Astro.request.url)
  query = url.searchParams.get('query');
  if(query){
    try{
      // fetch the list of posts 
      const postsRes = await fetch(`${Astro.site}/feeds/posts.json`);
      if (!postsRes.ok){
        throw new Error('Could not fetch posts')
      }
      // parse the list of posts as JSON 
      const postData = await postsRes.json();

      // format json data into flat objects 
      const flatPostData = postData.map((post: any) => ({
        id: post.id,
        url: post.url,
        title: post.meta.title,
        date: post.meta.pubDate,
        tags: post.meta.tags,
        description: post.meta.description,
        text: post.content.md
      }))

      // load data into search index 
      const miniSearch = new MiniSearch({
        fields: ['title', 'tags', 'description', 'text'],
        storeFields: ['title', 'tags', 'description', 'date', 'url']
      })

      await miniSearch.addAllAsync(flatPostData);

      results = miniSearch.search(query);

    } catch(err){
      if(err instanceof Error){
        errors.push(err.toString());
      }
    }
  }
  const endTime = new Date(); 
  searchTime = (endTime.getTime() - startTime.getTime()) / 1000;
}
---

<Layout title="Search" description="Look through my site">
  <h1>Search</h1>
  <p>Search through my site</p>
  <section>
    <form>
      <input type="search" name="query" id="query" value={query}>
      <button type="submit">Search</button>
    </form>
  </section>

  <!-- errors -->
  {errors && <section>
    {errors.map((err) => (
      <p class="error">{err}</p>
    ))}  
  </section>}

  <!-- results -->
  <section>
    {results && <div class="results">
      {results.length == 0 && <p>no results for {query}...</p>}
      {results.length > 0 && <p class="result-count">Found {results.length} results in {searchTime} seconds for "{query}"</p>}
      {results.map((result) => (
        <article>
          <p><strong>{result.title}</strong></p>
          <p>{result.description}</p>
          <p><a href={result.url}>Read post</a></p>
        </article>
      ))}  
    </div>}
  </section>
</Layout>
