---
const { post } = Astro.props;
---

<article>
  <div class="postcard__photo">
    <a href={`/posts/${post.frontmatter.slug}`}>
      <img
        src={post.frontmatter.heroImage}
        alt={`decorative photo for ${post.frontmatter.title} post`}
        loading="lazy"
        width="224"
        height="149"
      />
    </a>
  </div>
  <div class="postcard__content">
    <p class="postcard__content__date">{post.frontmatter.pubDate}</p>
    <h3>{post.frontmatter.title}</h3>
    <p>{post.frontmatter.description}</p>
    <p>
      <a href={`/posts/${post.frontmatter.slug}`}>read more</a>
    </p>
  </div>
</article>

<style lang="scss">
  article {
    margin: 0px 0px var(--size-3) 0px;
    display: grid;
    grid-template-columns: 248px 1fr;
    gap: var(--size-3);
    .postcard__photo {
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: var(--radius-2);
      }
    }
    .postcard__content {
      h3 {
        font-size: var(--font-size-md);
      }
      .postcard__content__date {
        font-style: italic;
        color: var(--font-color-ink2);
      }
      p {
        margin: var(--size-2) 0;
      }
    }
  }
</style>
