---
import ContentLayout from '../../layouts/ContentLayout.astro';
---

<ContentLayout
  data={{
    title: 'RSS Feeds',
    description: 'This page explains all my RSS feeds and stuff.',
  }}
>
  <main data-pagefind-body>
    <p>
      I post about a whole bunch of stuff on this site. It's not just blog posts
      like it was when I first started working on this site. I mean I still
      write blog posts, but I also keep notes, links to things I find useful,
      and even photos here.
    </p>
    <p>
      <strong>
        If only a few of those things interest you, I'd still love for you to be
        able to subscribe to what you like</strong
      >, so I've broken my feed down into topics:
    </p>
    <ul>
      <li>
        <a href={`${import.meta.env.SITE}/feeds/main.xml`}>Main</a> feed: all of my stuff in one feed, for the real fans™️.
      </li>
      <li><a href={`${import.meta.env.SITE}/feeds/posts.xml`}>Posts feed</a>: my complete blog posts.</li>
      <li>
        <a href={`${import.meta.env.SITE}/feeds/notes.xml`}>Notes feed</a>: ranges from idea scribbles to evolving
        thoughts.
      </li>
      <li>
        <a href={`${import.meta.env.SITE}/feeds/photos.xml`}>Photos feed</a>: photos of friends, family, and things that
        inspire me.
      </li>
      <li>
        <a href={`${import.meta.env.SITE}/feeds/links.xml`}>Links feed</a>: links that I find useful; like adult show and
        tell.
      </li>
    </ul>
    <h2>What's an RSS? Isn't that when your hand hurts?</h2>
    <p>
      If you're not sure what RSS even is, I'm sorry I just made you read all of
      that. Here's <a href="https://aboutfeeds.com/"
        >a great site that explains what RSS feeds are</a
      >, and if you might like them. Have a great day!
    </p>
  </main>
</ContentLayout>
