---
// Utility imports
import { getCollection } from 'astro:content';
import { getSortedPosts } from '../utils/posts';
import MainLayout from '../layouts/MainLayout.astro';
import PhotoGrid from '../components/PhotoGrid.astro';

// Data Fetching: fetch blog posts
const allPosts = await getCollection('posts', ({ data }) => {
  return data.draft === false;
});
const sortedAllPosts = getSortedPosts(allPosts);

const sortAndFilterPosts = (posts, postType: string, numPosts: number) => {
  return posts
    .filter((post) => post.data.type == postType)
    .slice(0, posts.length >= numPosts ? numPosts : posts.length);
};

const sortedNotes = sortAndFilterPosts(sortedAllPosts, 'note', 3);
const sortedPosts = sortAndFilterPosts(sortedAllPosts, 'post', 3);
const sortedLinks = sortAndFilterPosts(sortedAllPosts, 'link', 3);
const sortedPhotos = sortAndFilterPosts(sortedAllPosts, 'photo', 3);
---

<MainLayout title="Home" description="Mykal's home page">
  <section class="container--large">
    <h1>Hey, I'm Mykal Machon</h1>
    <p class="leading">
      Welcome to my personal website! I share posts, notes, photos, and more
      here. Have fun exploring.
    </p>
    <p>
      The site is a constant work-in-progress, you can check it out on 
      <a href="https://github.com/MykalMachon/mykal.codes"> GitHub</a>.
    </p>
  </section>
  <div class="container--large grid">
    <section>
      <h2>Blog Posts</h2>
      <p>More intentional things I've written.</p>
      <div class="list seperator">
        {
          sortedPosts.map((post) => (
            <article>
              <p>
                <a href={`/posts/${post.slug}`}>{post.data.title}</a>
              </p>
              <p>{post.data.description}</p>
            </article>
          ))
        }
      </div>
    </section>
    <section>
      <h2>Notes</h2>
      <p>Short notes that explore ideas I have.</p>
      <div class="list seperator">
        {
          sortedNotes.map((note) => (
            <article>
              <p>
                <a href={`/notes/${note.slug}`}>{note.data.title}</a>
              </p>
              <p>{note.data.description}</p>
            </article>
          ))
        }
      </div>
    </section>
    <section>
      <h2>Photos</h2>
      <p>People, places, and things that I love.</p>
      <div class="seperator" style="padding-top: var(--size-3);">
        <PhotoGrid
          layout="grid"
          photos={sortedPhotos.map((photo) => {
            return {
              slug: photo.slug,
              url: photo.data.photos[0].url,
              alt: photo.data.photos[0].alt,
            };
          })}
        />
      </div>
    </section>
    <section>
      <h2>Links</h2>
      <p>also known as bookmarks.</p>
      <div class="list seperator">
        {
          sortedLinks.map((link) => (
            <article>
              <p>
                <a href={`/links/${link.slug}`}>{link.data.title}</a>
              </p>
              <p>
                <time datetime={link.data.pubDate.toDateString()}>
                  {link.data.pubDate.toDateString()}
                </time>
              </p>
            </article>
          ))
        }
      </div>
    </section>
  </div>
</MainLayout>

<style lang="scss">
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-4);
    margin-bottom: var(--size-6);
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      h2 {
        margin-top: var(--size-3);
      }
    }
  }
  .list {
    article {
      margin: var(--size-4) 0;
    }
    p {
      margin: 0;
    }
  }
  .seperator {
    border-top: 1px solid var(--paper-3);
  }
</style>
