---
import PostList from '../../components/posts/PostList.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { getSortedPosts } from '../../utils/posts';
import { getAllTags, getPostsByTags } from '../../utils/tags';

export async function getStaticPaths({}) {
  const allPosts = await Astro.glob('../../posts/**/*.md');
  const allSortedPosts = getSortedPosts(allPosts);
  const allTags = getAllTags(allSortedPosts);
  const allTagPosts = allTags.map((tag: string) =>
    getPostsByTags(tag, allSortedPosts)
  );

  return allTagPosts.map((tagPosts) => {
    return {
      params: { tag: tagPosts.tag },
      props: { tag: tagPosts.tag, posts: tagPosts.posts },
    };
  });
}

const { tag, posts } = Astro.props;
---

<MainLayout
  title={`#${tag}`}
  description={`a collection of ${posts.length} posts tagged as ${tag}`}
>
  <section class="divider" data-pagefind-ignore>
    <h1>#{tag}</h1>
    <p>this tag has {posts.length} posts</p>
  </section>
  <PostList {posts} />
</MainLayout>
