---
import { getCollection } from 'astro:content';
import AuthorCard from '../../../components/AuthorCard.astro';
import WebMentions from '../../../components/webmentions/WebMentions.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
import { getBase64ImageUrl, getCustomQualityUrl } from '../../../utils/cloudinary';


export async function getStaticPaths({}) {
  let allPhotos = await getCollection('posts', ({ data }) => {
    return data.type == 'photo';
  });

  return allPhotos.map((photo, idx) => {
    return {
      params: { slug: photo.slug },
      props: { photo },
    };
  });
}

const { slug } = Astro.params;
const { photo } = Astro.props;
const { Content } = await photo.render();
---

<ContentLayout data={photo.data}>
  <section class="photos">
    {
      photo.data.photos.map(async ({ url, alt }, idx) => {
        const lqImage = getCustomQualityUrl(url, 24);
        const b64image = await getBase64ImageUrl(lqImage);
        const hqImage = getCustomQualityUrl(url, 800);
        if(idx == 0 ){
          return (
          <div class="lazy-wrapper">
            <img
              class="lazy loading"
              transition:persist
              transition:name={`image-${slug}`}
              src={b64image}
              alt={alt}
              data-lazy={hqImage}
            />
          </div>
        );
        } else {
          return (
          <div class="lazy-wrapper">
            <img
              class="lazy loading"
              src={b64image}
              alt={alt}
              data-lazy={hqImage}
            />
          </div>
        );
        }

      })
    }
  </section>
  <Content />
  <AuthorCard />
  <WebMentions />
</ContentLayout>
