---
import Navigation from '../components/layout/Navigation.astro';
import Footer from '../components/layout/Footer.astro';
import MainHead from '../components/MainHead.astro';

import PostHeader from '../components/posts/PostHeader.astro';
import PostFooter from '../components/posts/PostFooter.astro';

const { post, fileName, readTime } = Astro.props;
const { title, description, pubDate, heroImage, draft, tags, slug } =
  post.data;

const date = new Date(pubDate);
const formattedDate = new Intl.DateTimeFormat('en-CA', {timeZone: 'America/Vancouver'})
  .format(date)
  .replaceAll('-', '/');

const ogImageURL = `${Astro.url.origin}/og?title=${title}&desc=${description}&pubDate=${formattedDate}&readTime=${readTime}&tag=${tags[0]}&type=Blog Post`;
const encodedOgImageURL = encodeURI(ogImageURL);
---

<html class="" lang="en">
  <head>
    <MainHead {title} {description} />
    <script>
      // image dynamic loading
      const loadingImages = document.querySelectorAll('img.loading');
      loadingImages.forEach((loadingImageEl) => {
        // @ts-ignore
        const hqImageUrl = loadingImageEl.dataset.lazy;
        // @ts-ignore
        if (hqImageUrl) loadingImageEl.src = hqImageUrl;
        loadingImageEl.classList.remove('loading');
      });
    </script>

    <!-- OG Image Stuff -->
    <meta property="og:title" content={`${title} | mykal.codes`} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://mykal.codes" />
    <meta property="og:image" content={encodedOgImageURL} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter specific OG -->
    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <body class="site-container">
    <Navigation />
    <main class="container" data-pagefind-body>
      <PostHeader
        {title}
        {description}
        {heroImage}
        {pubDate}
        {readTime}
        {draft}
        {tags}
      />
      <slot />
    </main>
    <PostFooter {fileName} {tags} {slug} />
    <Footer />
  </body>
</html>
