---
const { post, showType = true } = Astro.props;
---

<article>
  <div class="post__meta">
    <p>{post.data.pubDate.toDateString()}</p>
    {showType && <p class="secondary">{post.data.type}</p>}
  </div>
  <div class="post__title">
    <p><a href={`/garden/${post.data.type}s/${post.slug}`}>{post.data.title}</a></p>
  </div>
</article>

<style lang="scss">
  article {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: var(--size-3);
    border-top: 1px solid var(--paper-3);
    align-items: center;
    div.post__meta p {
      font-family: monospace;
      font-size: var(--font-size-sm);
      margin: var(--size-3) 0 var(--size-3) 0;
      &:nth-of-type(2n) {
        color: var(--ink-1);
        font-style: italic;
        margin: 0 0 var(--size-3) 0;
      }
    }
    &:last-of-type {
      border-bottom: 1px solid var(--paper-3);
    }
    @media screen and (max-width: 850px){
      grid-template-columns: auto 1fr;
    }
  }

</style>
