---
import { Markdown } from 'astro/components';
import Navigation from '../components/layout/Navigation.astro'
import Header from '../components/layout/Header.astro'
import Footer from '../components/layout/Footer.astro'
import MainHead from '../components/MainHead.astro'

const {content} = Astro.props;
const {title, description, publishDate, heroImage, permalink} = content;
---
<html class="theme__dark" lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <Navigation />
    <Header title={title} description={description} />
    <main class="container blog-post">
    {heroImage && <img src={heroImage || ''} alt={`decorative image for ${title}`}> }
      <slot />
      <!-- <section>
        <h2>About the author</h2>
        <p>Hey! I'm Mykal, I work at UFV as a Systems Analyst, build apps, and do general nerd stuff</p>
        <p>If you like my work you can support me below!</p>
      </section> -->
    </main>
    <Footer />
  </body>
</html>
