---
import Navigation from '../components/layout/Navigation.astro'
import Header from '../components/layout/Header.astro'
import Footer from '../components/layout/Footer.astro'
import MainHead from '../components/MainHead.astro'

import {getHighQualityUrl, getLowQualityUrl} from '../utils/cloudinary';

const { title, description, heroImage } = Astro.props;
---
<html class="" lang="en">
  <head>
    <MainHead title={title} description={description} />
    <script>
    // image dynamic loading 
    const loadingImages = document.querySelectorAll('img.loading');
    loadingImages.forEach((loadingImageEl) => {
      const hqImageUrl = loadingImageEl.dataset.lazy;
      if(hqImageUrl) loadingImageEl.src = hqImageUrl;
      loadingImageEl.classList.remove('loading')
    })
    </script>
  </head>
  <body class="site-container">
    <Navigation />
    <Header title={title} description={description} />
    <main class="container blog-post">
    {heroImage && <img 
                    src={getLowQualityUrl(heroImage) || ''} 
                    class="lazy loading"
                    width="608"
                    height="405"
                    data-lazy={getHighQualityUrl(heroImage) || ''}
                    alt={`decorative image for ${title}`}> }
      <slot />
    </main>
    <Footer />
  </body>
</html>
