---
import Navigation from '../components/layout/Navigation.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import MainHead from '../components/MainHead.astro';

const { title, description } = Astro.props;

// TODO: get rid of this template, there's 0 reason for it.

// og image generation
// const ogImageUrl = `https://mykal.codes/api/social-image?title=${title}&type=page`;
// const encodedOgImageUrl = encodeURI(ogImageUrl);
---

<html class="" lang="en">
  <head>
    <slot name="head-content" />
    <MainHead {title} {description} />

    <!-- OG Image Stuff -->
    <meta property="og:title" content={`${title} | mykal.codes`} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://mykal.codes" />
    <meta property="og:image" content="/images/og-home-page.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  </head>

  <body class="site-container">
    <Navigation />
    <section class="container">
      <h2 class="homepage__hero">
        Hi, I'm Mykal. <br />
        This is my website!
      </h2>
      <p>
        I work as a Systems Analyst at <a href="https://ufv.ca">UFV</a>, run a <a
          href="https://tinybox.dev">software consulting business</a
        >, and work on a bunch of <a href="https://github.com/MykalMachon"
          >open source</a
        > stuff in my spare time.
      </p>
      <p>For more info check out my <a href="/about-me">about page</a>.</p>
    </section>
    <main class="container" data-pagefind-body>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  .homepage__hero {
    padding: var(--size-8) 0;
    font-weight: bold;
    font-size: var(--font-size-xxl);
    line-height: 1.25em;
    border-bottom: 1px solid var(--color-dark-two);
    margin-bottom: var(--size-3);
  }
</style>
