---
import { Markdown } from 'astro/components';
import Navigation from '../components/Navigation.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import MainHead from '../components/MainHead.astro'

const { title, description, head } = Astro.props;
---
<html lang="en">
  <head>
    {head}
    <MainHead title={title} description={description} />
  </head>
  <body>
    <Navigation />
    <Header title={title} description={description} />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
