---
import Layout from '@components/layout/Layout.astro';
import PostList from '@components/posts/PostList.astro';
import PostTOC from '@components/posts/PostTOC.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths({}) {
  let allPosts = await getCollection('posts');

  const allTags = allPosts.map((post) => post.data.tags).flat();
  const uniqueTags = [...new Set(allTags)].filter((tag) => tag !== undefined);

  return uniqueTags.map((tag) => {
    return {
      params: { tag: tag },
      props: { tag },
    };
  });
}

const { tag } = Astro.props;
const tagPosts = await getCollection(
  'posts',
  (post) => post.data.tags && post.data.tags.includes(tag)
);
---

<Layout
  title={`#${tag} posts`}
  description={`any page or post tagged with #${tag}`}
>
  <h1>#{tag}</h1>
  <p>I have written {tagPosts.length} posts tagged with #{tag}.</p>
  <PostList posts={tagPosts} />
</Layout>
